* {
  margin: 0;
  padding: 0;
}
.open-sans-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Style */
.btn {
  padding: 12px 36px;
  background-color: #4e47ff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

/* Main Style */
/* style for header */
header {
  background: url("./Assets/Hero-bg.png");
}
nav {
  max-width: 1270px;
  margin: 0px auto;
}
.nav-section nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.nav-section h2 {
  color: #4e47ff;
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 37px;
}
.banner-section {
  padding: 155px 260px;
  text-align: center;
}
.banner-section h2 {
  font-size: 65px;
  font-weight: 900;
  color: #252432;
}
