* {
  margin: 0;
  padding: 0;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
/* Shared Style */
.btn {
  padding: 12px 36px;
  background-color: #4e47ff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

/* Main Style */
main {
  max-width: 1270px;
  margin: 0px auto;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.nav-section h2 {
  color: #4e47ff;
  font-size: 34px;
  font-weight: 900;
}
