* {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(245, 248, 255, 0.7);
}
.Raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Style */
.btn {
  padding: 12px 36px;
  background-color: #4e47ff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

/* Main Style */
/* style for header */
header {
  background: url("./Assets/Hero-bg.png");
}
nav,
.action-section,
.productive-user-section,
.user-review,
.get-in-touch,
.focus-section {
  max-width: 1270px;
  margin: 0px auto;
}
.nav-section nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.nav-section h2 {
  color: #4e47ff;
  font-size: 34px;
  font-weight: 900;
}
.banner-section {
  padding: 155px 260px;
  text-align: center;
}
.banner-section h2 {
  font-size: 65px;
  font-weight: 900;
  color: #252432;
  width: 80%;
  margin: 0px auto 37px auto;
}
/* Action Section Style */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 116px;
  margin-bottom: 116px;
  gap: 216px;
}
.see-action {
  width: 37%;
}
.action-title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.action-para {
  font-size: 24px;
  line-height: 30px;
  color: rgba(37, 36, 50, 0.5);
  margin: 23px 0px;
}
.action-section img {
  border-radius: 48px;
}
/* Productive User Style */
.productive-user-section {
  background: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
}
.productive-user {
  padding: 50px 145px;
}
.productive-user-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistics-items h2 {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}
.statistics-items p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0) 0.5;
}
/* User Review Section */
.user-review {
  margin-top: 140px;
  margin-bottom: 140px;
}
.user-review-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}
.cards {
  display: flex;
  gap: 20px;
}
.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
  border-radius: 14px;
  background: white;
}
.card-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.card h5 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 10px;
  color: #1e1e1e;
}
.card p {
  color: #1e1e1e;
}
.reviewer {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 24px;
  /* justify-content: center; */
}
.reviewer img {
  border-radius: 50%;
}
.reviewer h6 {
  color: #757575;
  font-size: 16px;
}
.reviewer p {
  font-size: 16px;
  color: #b3b3b3;
}
/* Get in touch style */
.get-in-touch {
  display: flex;
  gap: 115px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.get-in-touch > div {
  width: 100%;
}
.get-in-touch-title {
  font-size: 97px;
  font-weight: bold;
}
.get-in-touch-form {
  width: 100%;
}
.get-in-touch-form label,
input {
  display: block;
}
.get-in-touch-form input,
textarea {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.get-in-touch-form input::placeholder {
  padding-left: 24px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.get-in-touch-form textarea::placeholder {
  padding-left: 24px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.get-in-touch-form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* Focus section Style */
.focus-section {
  text-align: center;
  background: white;
  padding: 70px 0px;
  border-radius: 14px;
  margin-bottom: 95px;
}
.focus-section h3 {
  font-size: 50px;
  font-weight: bold;
}
.focus-section p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.focus-section button {
  margin-bottom: 32px;
}
.focus-section img {
  border-radius: 48px;
}
/* Footer Style */
footer {
  background: white;
}
.footer {
  margin: 0 auto;
  text-align: center;
  width: 32%;
  padding-top: 100px;
}
.footer h2 {
  color: #4e47ff;
  font-size: 100px;
  font-weight: 900;
}
.footer p {
  color: #8987a1;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 100px;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;

  color: #8987a1;
}
